<!DOCTYPE html>
<html>
<head>
    <title>Mot de passe oublié</title>
</head>
<body>
<h3>Cliquez sur le lien suivant afin de réinitialiser votre mot de passe</h3>

<h3>Cliquer <a href="http://localhost:8000/new-password?iduser={{ idUser }}&token={{ token }}">ici</a></h3>

</body>
</html>