{% extends 'layout.html.twig' %}

{% block title %}Contact{% endblock %}

{% block content %}
<h1>Inserer</h1>

<form>
		<h4 class="text-center">Le samplé</h4>
	<div class="row justify-content-center">
		<div class="col-3 border-right">
			<label>Artiste :</label>
			<input type="text" name="artiste"><br>
			<label>Genre :</label><br>
			<input type="select" name="genre">
		</div>
		<div class="col-3 border-right">
			<input type="text" name="album">
			<input type="date" name="date">
			<input type="url" name="pochette">
		</div>
		<div class="col-3">
			<input type="text" name="titre">
			<input type="url" name="lien">
		</div>
	</div>
	<hr>

	<h4 class="text-center">Le sampleur</h4>
	<div class="row justify-content-center">
		<div class="col-3 border-right">
			<input type="text" name="artiste">
			<input type="select" name="genre">
		</div>
		<div class="col-3 border-right">
			<input type="text" name="album">
			<input type="date" name="date">
			<input type="url" name="pochette">
		</div>
		<div class="col-3">
			<input type="text" name="titre">
			<input type="url" name="lien">
		</div>
	</div>
</form>
{% endblock %}

{% block js %}
<script>
	
</script>
{% endblock %}