{% extends 'layout.html.twig' %}

{% block title %}Liste d'Articles{% endblock %}
{% block titlepage %}Suppression Article{% endblock %}



{% block content %}

    <div class="m-4 w-65">
        <ul class="list-group d-flex justify-content-center">
            {%for article in articles%}
                <a href="{{ path('admin-supprimer-article', {id: article.id} )  }}" alt="{{ article.id }}"> <li class="list-group-item">{{ article.titre }}</li></a>
            {%endfor%}
        </ul>
    </div>

{% endblock %}