{% extends 'layout.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
{% block content %}
<h1>Contact</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}


{% endblock %}
{% endblock %}
