<!DOCTYPE html>
<html>
<head>
	<title>Message</title>
</head>
<body>

<h2>Sujet : {{ sujet }}</h2>
        	<h2>Nom : {{nom}}</h2>
        	<h2>Email : {{email}}</h2>
        	<h2>Message :</h2><p>{{message}}</p>
</body>
</html>