{% extends 'layout.html.twig' %}

{% block title %}Contact{% endblock %}

{% block content %}
<h1>Inserer</h1>

<form>
		<h4 class="text-center">Le samplé</h4>
	<div class="row justify-content-center ">
		<div class="col-3 border-right">
			<div class="form-group">
				<label for="artisteSample">Artiste :</label>
				<input type="text" name="artisteSample" id="artisteSample" class="form-control">
			</div>
			<div class="form-group">
				<label for="genreSample">Genre :</label>
				<input type="select" name="genreSample" id="genreSample" class="form-control">
			</div>
		</div>
		<div class="col-3 border-right text-left">
			<div class="form-group">
				<label for="albumSample">Album :</label>
				<input type="text" name="albumSample" id="albumSample" class="form-control">
			</div>
			<div class="form-group">
				<label for="dateSample">Date de sortie:</label>
				<input type="date" name="dateSample" id="dateSample" class="form-control">
			</div>
			<div class="form-group">
				<label for="pochetteSample">Pochette :</label>
				<input type="url" name="pochetteSample" id="pochetteSample" class="form-control">
			</div>
		</div>
		<div class="col-3">
			<label>Titre :</label>
			<input type="text" name="titreSample" class="form-control">
			<label>Lien :</label>
			<input type="url" name="lienSample" class="form-control">
		</div>
	</div>
	<hr>

	<h4 class="text-center">Le sampleur</h4>
	<div class="row justify-content-center">
		<div class="col-3 border-right">
			<div class="form-group">
				<label for="artisteSampleur">Artiste :</label>
				<input type="text" name="artisteSampleur" id="artisteSampleur" class="form-control">
			</div>
			<div class="form-group">
				<label for="genreSampleur">Genre :</label>
				<input type="select" name="genreSampleur" id="genreSampleur" class="form-control">
			</div>
		</div>
		<div class="col-3 border-right text-left">
			<div class="form-group">
				<label for="albumSampleur">Album :</label>
				<input type="text" name="albumSampleur" id="albumSampleur" class="form-control">
			</div>
			<div class="form-group">
				<label for="dateSampleur">Date de sortie:</label>
				<input type="date" name="dateSampleur" id="dateSampleur" class="form-control">
			</div>
			<div class="form-group">
				<label for="pochetteSampleur">Pochette :</label>
				<input type="url" name="pochetteSampleur" id="pochetteSampleur" class="form-control">
			</div>
		</div>
		<div class="col-3">
			<label>Titre :</label>
			<input type="text" name="titreSample" class="form-control">
			<label>Lien :</label>
			<input type="url" name="lienSample" class="form-control">
		</div>
	</div>
	<hr>
	<div class="row justify-content-center">
		<button type="submit" class="btn btn-primary">Envoyer</button>		
	</div>

</form>
{% endblock %}

{% block js %}
<script>
	
</script>
{% endblock %}