{% extends 'layout.html.twig' %}

{% block title %}Liste d'Albums{% endblock %}
{% block titlepage %}Modifier album{% endblock %}



{% block content %}

    <div class="m-4 w-65">
        <ul class="list-group d-flex justify-content-center">
            {%for album in albums%}
                <a href="{{ path('album-update', {id: album.id} )  }}" alt="{{ album.id }}"> <li class="list-group-item">{{ album.nom }}</li></a>
            {%endfor%}
        </ul>
    </div>

{% endblock %}